.popover {
    position: absolute;
    top: 0;
    @include flex(column, center, center);
    @include size(100vw, 100%);
    background-color: transparentize(#222, 0.9);
    z-index: 3000;

    &--active {
        opacity: 1;
    }

    &__inner {
        @include flex(column, center, center);
        @include size(200px, 200px);
    }

    &__btn {
        background-color: $red;
        padding: 20px;
        min-width: 90px;
        min-height: 60px;
        font-size: 0.9rem;
        margin: 5px;
        border-radius: 30px;
        transition: $transition--standard;

        &:focus,
        &:hover {
            background-color: darken($red, 7%);
        }

        &--confirm {
            background-color: lighten($blue, 10%);

            &:focus,
            &:hover {
                background-color: lighten($blue, 7%);
            }
        }
    }
}