// Colors

$grey--background: #111;
$yellow: #f0bb00;

$dark-blue: #171f2a;
$blue: #152B3E;
$blue--light: #8b97a3;

$blue--vibrant: #1A96EF;

$red: #e93359;

// Font

$font--main: 'Lato';

$transition--standard: all .2s ease;

$btn-width: 200px;
$border-radius: 50px;
$border-radius--hover: 3px;
$blur: 50px;
