// Colors

$grey--background: #111;
$yellow: #f0bb00;

$dark-blue: #171f2a;
$blue: #152B3E;
$blue--light: #8b97a3;

$blue--vibrant: #3770FE;

$red: #e93359;
$white: #f7fbff;

$font-size: clamp(1rem, 4.5vw, 1.3rem);

// Font

$font--main: 'Lato';

$transition--standard: all .2s ease;

$btn-width: 150px;
$btn-width--landing: 100%;
$border-radius: 40px;
$border-radius--hover: 3px;
$blur: 50px;
