.controls {
    @include flex(row, center, center);
    height: 100%;

    &__button {
        @include flex(row, center, center);
        cursor: pointer;
        font-size: 2rem;
        color: white;
        border: 0;
        border-radius: 50%;
        margin-right: 20px;
        outline: none;
        transform: scale(1);
        transform-origin: center;
        background: transparent;
        transition: all .2s ease-in-out;

        @media (max-width: 768px) {
          margin-right:  0;
        }

        &--add {
          @media (max-width: 768px) {
            display: none;
          }
        }

        &--settings {
          @media (max-width: 600px) {
            padding-right: 0;
          }

          img {
            width: 20px !important;
            height: 20px !important;
          }
        }

        img {
            transform: rotate(45deg);
            @include size(17px, 17px);
        }

        &--logout {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: transparent;
            border: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
            transform: scale(1);
            transform-origin: center;
            transition: transform 0.3s ease;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              border: 2px solid white;

              @media (max-width: 768px) {
                border: none;
              }
            }
          }
    }
}