@import '../../styles/shared/mixins';
@import '../../styles/shared/variables';

.logout {
  @include flex(column, center, center);
  @include size(100%, 100%);

  &__container{
    @include flex(column, center, center);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    background-color: $dark-blue;
    z-index: 3000;
  }

  &__button {
    color: white;
    padding: 20px 30px;
    width: 50%;
    box-sizing: border-box;
    background: none;
    outline: none;
    cursor: pointer;
    font-size: 1.3rem;
    text-transform: lowercase;
    transition: all 0.4s ease;

    @media (max-width: 768px) {
      width: 95%;
    }

    &:focus,
    &:hover {
      border-color: lighten(#0b8aff, 15%)
    }

  }

  &__top-bar {
    @include flex(row, space-between, center);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;

    @media (max-width: 768px) {
      padding: 20px 10px;
    }

    button {
      color: white;
      cursor: pointer;
      background: none;
      outline: 0;
      border: none;
      font-size: 2rem;
      z-index: 3000;
    }
  }
}

.overlay {

  &__cancel {
    @include size(40px, 40px);
  }
}