:host {
  flex: 1;
}

.drafts{
  @include flex(column, center, center);
  @include size(100%, 100%);
}

.draft {
  position: relative;
  @include flex(row, center, center);
  width: 100%;
  padding: 15px 0;
  background-color: transparent;
  box-sizing: border-box;
  min-height: 100px;
  user-select: none;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:focus,
  &:hover {
    background-color: lighten($dark-blue, 5%);

    .draft__delete {
      opacity: 1;
    }
  }

  &__delete {
    position: absolute;
    right: 10px;
    @include size(20px, 20px);
    color: white;
    border: 0;
    background-color: transparent;
    background: url('/trash.svg') no-repeat center;
    background-size: contain;
    font-size: 1rem;
    opacity: 0;
    transform: scale(1);
    transform-origin: center;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
      background-color: #e93359;
    }
  }
}

.calories {

  &__container {
    @include flex(column, center, center);
    background: transparent;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;

    @media (max-width: 768px) {
      padding: 0 10px;
    }
  }

  &__text {
    font-family: $font--main;
    font-size: 3rem;
    color: white;
    text-align: left;
    margin: 0;
    padding: 0;

    @media (max-width: 768px) {
      margin-left: 20px;
    }

    span {
      font-weight: 600;
      font-size: 3.2rem;
      color: $yellow;
    }
  }
}
