$btn-width: 200px;
$border-radius: 50px;
$border-radius--hover: 3px;
$blur: 50px;
$transition: all 0.3s ease;

:host {
  flex: 1;
}

.drafts {
  @include flex(column, flex-start, center);
  @include size(100%, 100%);
  max-width: 600px;
  min-width: 600px;
  overflow-y: auto;

  @media (max-width: 617px) {
    border: 0;
  }

  &__container {
    @include flex(column, center, center);
    margin-top: 115px;
    height: 100%;
    border-left: 1px solid lighten($dark-blue, 10%);
    border-right: 1px solid lighten($dark-blue, 10%);
  }

  &__text {
    font-family: $font--main;
    font-size: 3rem;
    color: white;
    text-align: left;
    margin: 0;
    padding: 0;

    @media (max-width: 768px) {
      margin-left: 20px;
    }

    span {
      font-weight: 600;
      font-size: 3.2rem;
      color: $yellow;
    }
  }
}

.draft {
  position: relative;
  @include flex(row, flex-start, center);
  width: 100%;
  padding: 20px;
  padding-right: 30px;
  background-color: transparent;
  box-sizing: border-box;
  min-height: 100px;
  max-height: 200px;
  border-bottom: 1px solid lighten($dark-blue, 10%);
  user-select: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all .2s ease-in-out;
  white-space: pre-wrap;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;

  &:first-child {
    border-top: 1px solid lighten($dark-blue, 10%);
  }

  &:focus,
  &:hover {
    background-color: lighten($dark-blue, 5%);

    .draft__delete {
      opacity: 1;
    }
  }

  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    margin: 0;
    font-family: $font--main;
    color: white;
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__delete {
    position: absolute;
    right: 10px;
    @include size(20px, 20px);
    color: white;
    border: 0;
    background-color: transparent;
    background: url('/trash.svg') no-repeat center;
    background-size: contain;
    font-size: 1rem;
    opacity: 0;
    transform: scale(1);
    transform-origin: center;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
      background-color: #e93359;
    }
  }
}

.placeholder {
  justify-content: center;

  &__art {
    background: url('/notes.svg') no-repeat center;
    background-size: contain;
    width: 50%;
    height: 50%;
  }

  &__button {
    @include flex(row, center, center);
    @include size($btn-width, $btn-width / 2);
    margin-bottom: 10px;
    position: relative;
    border: 0;
    border-radius: $border-radius;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    outline: 0;
    background: transparent;
    overflow: hidden;
    cursor: pointer;
    transition: $transition;

    &:focus,
    &:focus-within,
    &:hover {

      .btn__inner {
        transform: scale(0.96);
        background: $blue--vibrant;

         .btn-text-one {
            transform: scaleX(0.3);
            opacity: 0;
          }

        .btn-text-two {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }

  .btn {

    &__inner {
      @include flex(row, center, center);
      @include size(calc(100% - 20px), calc(100% - 20px));
      background: $blue;
      position: absolute;
      top: 10px;
      left: 10px;
      border-radius: $border-radius;
      transition: $transition;
      mix-blend-mode: screen;
    }
  }

  .icon {
    position: absolute;
    font-family: $font--main;
    font-size: 1.1rem;
    color: white;
  }

  .btn-text-one {
    transform: scale(1);
    transition: $transition;
    opacity: 1;
  }

  .btn-text-two {
    background: url('/edit.svg') no-repeat center;
    background-size: contain;
    @include size(25px, 25px);
    transform: scale(0.3);
    transition: $transition;
    opacity: 0;
  }


}
