.drafts {
  position: relative;
  @include flex(column, flex-start, center);
  max-width: 900px;
  min-width: 600px;
  width: 100%;
  flex: 1;
  margin-bottom: 40px;
  border-right: 1px solid lighten($dark-blue, 10%);
  border-left: 1px solid lighten($dark-blue, 10%);
  // min-height: 100%;

  @media (max-width: 768px) {
    min-width: 100%;
  }

  &__add-mobile {
    @include flex(row, center, center);
    @include size(65px, 65px);
    display: none;
    position: fixed;
    bottom: 0;
    opacity: 1;
    right: 0;
    margin: 0 20px 20px 0;
    background-color: $blue--vibrant;
    border-radius: 50%;
    transition: $transition--standard;

    @media (max-width: 768px) {
      display: flex;
    }

    img {
      @include size(17px, 17px);
      transform: rotate(45deg);
  }
  }

  &__container {
    @include flex(column, center, center);
    @include size(100%, 100%);
    max-width: 900px;
    margin-top: 125px;
    background-color: $dark-blue;
    transition: filter 0.2s ease-in-out;

    @media (max-width: 768px) {
      width: 100%;
      margin-top: 90px;
      border: 0;
    }
  }

  &__text {
    font-family: $font--main;
    font-size: 3rem;
    color: $white;
    text-align: left;
    margin: 0;
    padding: 0;

    @media (max-width: 768px) {
      margin-left: 20px;
    }

    span {
      font-weight: 600;
      font-size: 3.2rem;
      color: $yellow;
    }
  }
}

.draft {
  position: relative;
  @include flex(row, flex-start, center);
  width: 100%;
  min-height: 100px;
  // height: 100%;
  // max-height: 200px;
  // padding: 20px;
  padding: 30px 60px 30px 20px;
  // padding-right: 60px;
  background-color: transparent;
  box-sizing: border-box;
  border-bottom: 1px solid lighten($dark-blue, 10%);
  user-select: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all .2s ease-in-out;
  white-space: pre-wrap;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 15px 10px;
    padding-right: 60px;
  }

  &:first-child {
    border-top: 1px solid lighten($dark-blue, 10%);
  }

  &:focus,
  &:focus-within,
  &:hover {
    background-color: lighten($dark-blue, 5%);

    .draft__delete {
      opacity: 1;
    }
  }

  &__clickable-wrapper {
    @include flex(row, flex-start, center);
    @include size(100%, 100%);
    overflow: hidden;
  }

  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    vertical-align: middle;
    margin: 0;
    font-family: $font--main;
    color: white;
    font-size: clamp(1.1rem, 5vw, 1.3rem);
    // padding: 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;

    @media (max-height: 610px) {
      -webkit-line-clamp: 4;
    }
  }

  &__delete {
    position: absolute;
    right: 0;
    color: white;
    border: 0;
    height: 100%;
    padding: 0 20px;
    flex-basis: 0px;
    background-color: transparent;
    // font-size: 1rem;
    font-size: clamp(1.1rem, 5vw, 1.3rem);
    opacity: 0;
    transform: scale(1);
    transform-origin: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    z-index: 9999;

    @media (max-width: 768px) {
      opacity: 1;
    }

    &:hover {
      background-color: #e93359;
    }

    img {
      @include size(20px, 20px);

      @media (max-width: 415px) {
        @include size(15px, 15px);
      }
    }
  }
}
