@import '../../styles/shared/_variables.scss';
@import '../../styles/shared/_mixins.scss';

.footer {

  &__container {
    @include flex(row, center, center);
    position: absolute;
    bottom: 0;
    // left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    z-index: 2;

    p {
      font-family: $font--main;
      color: white;
      font-size: 0.9rem;
      padding: 0 10px;
      margin: 0;
    }
  }

  &__powered-by {
    @include flex(row, center, center);
    text-align: right;
    border-left: 1px solid $white;

    span {
      background: url('/nrdstr-logo.svg') no-repeat center;
      background-size: contain;
      width: 45px;
      height: 17px;
      display: inline-block;
    }
  }
}
