@import '../../../styles/shared/mixins';
@import '../../../styles/shared/variables';

.progress-ring {

  &__container {
    @include flex(row, center, center);
  }

  &__text {
    font-family: $font--main;
    font-size: 3rem;
    color: white;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}

.CircularProgressbar {
  width: 50px !important;
  margin-right: 20px;
  margin-top: 12px;
}

.CircularProgressbar .CircularProgressbar-text {
  font-size: 1.6rem;
  font-family: $font--main;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: transparent !important;
  z-index: 10;
}

.CircularProgressbar .CircularProgressbar-path {
  z-index: 10;
}
