@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import './styles/shared/variables';
@import './styles/shared/mixins';
@import './styles/shared/animations';
@import './components/header/header';
@import './components/drafts/drafts';
@import './components/controls/controls';
@import './components/modify/modify';
@import './components/login/login';
@import './components/logout/logout';
@import './components/loader/loader';
@import './components/footer/footer';
@import './components/goal-bar/goal-bar';
@import './components/shared/progress-ring/progress-ring';
@import './components/shared/progress-bar/progress-bar';

@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Work+Sans:500');

#root {
  display: flex;
  justify-content: center;
  background-color: $dark-blue;
  min-height: 100%;
  // @include linear-grad($dark-blue, lighten($dark-blue, 5%), 109deg);
  // overflow: hidden;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.app {
  @include flex(column, center, center);
  width: 100vw;
  overflow: hidden;

  &__wrapper {
    @include flex(column, flex-start, center);
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scrollbar-color: red yellow;
    margin: 0;
  }

  &__inner {
    position: relative;
    @include flex(column, flex-start, center);
    height: 100%;
    width: 100%;
    max-width: 1200px;
    text-align: center;
  }

  &__header {
    position: fixed;
    top: 0;
    @include flex(row, space-between, center);
    font-family: $font--main;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: $dark-blue;
    color: white;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    z-index: 2000;

    @media (max-width: 768px) {
      padding: 20px;
    }

    &--login {
      position: absolute;
      top: 0;
      left: 0;
    }

    &--logout {
      background: url('/logout.svg') no-repeat center;
      background-size: contain;
      height: 23px;
      margin: 0;
    }

    &-avatar {
      @include size(75px, 75px);
      border-radius: 50%;
      overflow: hidden;

      img {
        @include size(100%, 100%);
      }
    }

    a {
      @include flex(row, center, center);
      font-size: 2rem;
      color: white;
      cursor: pointer;
    }
  }

  &__header-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transform: scale(1);
    transform-origin: center;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid white;

      @media (max-width: 768px) {
        border: none;
      }
    }
  }

  &__date {
    flex: 1;
    box-sizing: border-box;
    padding: 0 0 0 40px;
    font-family: $font--main;
    font-size: 1.4rem;
    color: white;
    margin: 0;

    @media (max-width: 768px) {
      font-size: 1rem;
      padding: 0;
      text-align: left;
    }
  }

  &__title {
    flex: 1;
    padding: 0;
    margin: 0;
  }

  &__calories-wrapper {
    flex: 1;
    height: 100%;
  }

  &__buttons-container {
    @include flex(row, center, center);
    @include size(101px, 101px);
    position: fixed;
    bottom: 20px;
    right: 20px;

    a, button {
      width: 100%;
      @include flex(row, center, center);
      @include size(100%, 100%);
      cursor: pointer;
      font-size: 2rem;
      color: white;
      border: 0;
      border-radius: 50%;
      outline: none;
      background: lighten($dark-blue, 7%);
      transition: all .2s ease-in-out;

      &:focus,
      &:hover {
        background: lighten($dark-blue, 17%);
      }
    }
  }
}

h1 {
  font-family: 'Work Sans';
  font-size: 3rem;
  font-weight: 400;
  color: white;
  letter-spacing: -2px;
}

.hidden {
  display: none;
}

.animate--fade-in {
  animation: fade-in 0.2s ease-in;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}



.text {
  font-family: $font--main;
  font-size: 1rem;
  color: white;
  font-weight: 500;

  &--dark {
    color: $dark-blue;
  }

  &--slim {
      font-weight: 400;
  }

  &--bold {
      font-weight: 700;
  }

  &--light {
      color: $blue--light;
  }

  &--blue {
      color: $blue;
  }

  &--small {
      font-size: 0.8rem;
  }

  &--medium {
      font-size: 1.1rem;
  }

  &--large {
      font-size: 3rem;
  }

  &--narrow {
      letter-spacing: -2px;
  }

  &--italic {
      font-style: italic;
  }
}