@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import './styles/shared/variables';
@import './styles/shared/mixins';
@import './styles/shared/icons';
@import './styles/shared/animations';
@import './components/header/header';
@import './components/drafts/drafts';
@import './components/controls/controls';
@import './components/settings/settings';
@import './components/modify/modify';
@import './components/login/login';
@import './components/logout/logout';
@import './components/loader/loader';
@import './components/popover/popover';
@import './components/footer/footer';
@import './components/goal-bar/goal-bar';
@import './components/shared/progress-ring/progress-ring';
@import './components/shared/progress-bar/progress-bar';

@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Work+Sans:500');

html {
  background-color: $dark-blue;
}

#root {
  display: flex;
  justify-content: center;
  background-color: $dark-blue;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $dark-blue;
}

::-webkit-scrollbar {
  display: none;
}

ul, li {
  margin: 0;
  list-style: none;
}

button {
  background: transparent;
  outline: 0;
  border: 0;
  color: white;
  font-family: $font--main;
  font-size: 1rem;
  cursor: pointer;
}

.app {
  @include flex(column, center, center);
  width: 100vw;
  height: 100%;
  overflow-x: hidden;

  &__wrapper {
    @include flex(column, flex-start, center);
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    margin: 0;
  }

  &__inner {
    position: relative;
    @include flex(column, flex-start, center);
    // min-height: 100%;
    width: 100%;
    max-width: 1200px;
    text-align: center;
  }

  &__date {
    flex: 1;
    box-sizing: border-box;
    padding: 0 0 0 40px;
    font-family: $font--main;
    font-size: 1.4rem;
    color: white;
    margin: 0;

    @media (max-width: 768px) {
      font-size: 1rem;
      padding: 0;
      text-align: left;
    }
  }

  &__title {
    flex: 1;
    padding: 0;
    margin: 0;
  }

  &__calories-wrapper {
    flex: 1;
    height: 100%;
  }

  &__buttons-container {
    @include flex(row, center, center);
    @include size(101px, 101px);
    position: fixed;
    bottom: 20px;
    right: 20px;

    a, button {
      width: 100%;
      @include flex(row, center, center);
      @include size(100%, 100%);
      cursor: pointer;
      font-size: 2rem;
      color: white;
      border: 0;
      border-radius: 50%;
      outline: none;
      background: lighten($dark-blue, 7%);
      transition: all .2s ease-in-out;

      &:focus,
      &:hover {
        background: lighten($dark-blue, 17%);
      }
    }
  }
}

h1 {
  font-family: 'Work Sans';
  font-size: 3rem;
  font-weight: 400;
  color: white;
  letter-spacing: -2px;
}

.hidden {
  display: none;
}

.animate--fade-in {
  animation: fade-in 0.2s ease-in;
  animation-fill-mode: forwards;
}

.animate--fade-out {
  animation: fade-out 0.2s ease-out;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}



.text {
  font-family: $font--main;
  font-size: 1rem;
  color: white;
  font-weight: 500;

  &--dark {
    color: $dark-blue;
  }

  &--slim {
      font-weight: 400;
  }

  &--bold {
      font-weight: 700;
  }

  &--light {
      color: $blue--light !important;
  }

  &--blue {
      color: $blue;
  }

  &--red {
    color: $red;
  }

  &--tiny {
    font-size: 0.78rem !important;
  }

  &--small {
      font-size: 0.8rem !important;
  }

  &--medium {
      font-size: 1rem !important;
  }

  &--large {
      font-size: 2rem !important;
  }

  &--narrow {
      letter-spacing: -2px;
  }

  &--italic {
      font-style: italic !important;
  }

  &--center {
    text-align: center;
  }
}



.placeholder {
  justify-content: center;
  width: 100%;
  @include flex(column, center, center);

  &__art {
    background: url('/notes.svg') no-repeat center;
    background-size: contain;
    // @include si
    width: 100%;
    // max-width: 200px;
    height: 100%;
    max-height: 200px;
    margin-bottom: 25px;
  }

  &__landing-art {
    background: url('/lights.png') no-repeat center;
    background-size: contain;
    @include size(100%, 400px);
  }

  &__logo {
    background: url('/logo/logo-solid-dark.svg') no-repeat center;
    background-size: contain;
    @include size(40px, 40px);
    margin: 20px 0;

    @media(min-width: 769px) {
      display: none;
    }
  }

  &__button {
    @include flex(row, center, center);
    @include size($btn-width, $btn-width / 2.8);
    // margin-bottom: 10px;
    position: relative;
    border: 0;
    border-radius: $border-radius;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    outline: 0;
    background: transparent;
    overflow: hidden;
    cursor: pointer;
    transition: $transition--standard;

    &--landing {
      @include size($btn-width--landing, $btn-width--landing / 2.75);
    }

    &:focus,
    &:focus-within,
    &:hover {

      .btn__inner {
        transform: scale(0.96);
        background: $blue--vibrant;

         .btn-text-one {
            transform: scaleX(0.3);
            opacity: 0;
          }

        .btn-text-two {
          transform: scale(1);
          opacity: 1;
        }

        .btn-text--twitter {
          transform: scale(1);
          opacity: 1;
        }

        .btn-text--logout {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }

  .btn {

    &__inner {
      @include flex(row, center, center);
      @include size(100%, 100%);
      background: $blue;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: $border-radius;
      transition: $transition--standard;
      mix-blend-mode: screen;
    }
  }

  .icon {
    position: absolute;
    font-family: $font--main;
    font-size: 0.95rem;
    color: white;
  }

  .btn-text-one {
    transform: scale(1);
    transition: $transition--standard;
    opacity: 1;
  }

  .btn-text-two {
    background: url('/icons/edit.svg') no-repeat center;
    background-size: contain;
    @include size(20px, 20px);
    transform: scale(0.3);
    transition: $transition--standard;
    opacity: 0;
  }

  .btn-text--twitter {
    background: url('/twitter.svg') no-repeat center;
    background-size: contain;
    @include size(25px, 25px);
    transform: scale(0.3);
    transition: $transition--standard;
    opacity: 0;
  }

  .btn-text--logout {
    background: url('/logout.svg') no-repeat center;
    background-size: contain;
    @include size(25px, 25px);
    transform: scale(0.3);
    transition: $transition--standard;
    opacity: 0;
  }


}

.blur {
  filter: blur(10px);
  user-select: none;

  @media (max-width: 768px) {
    filter: blur(6px);
  }
}

.no-scroll {
  overflow: hidden !important;
}

.remove {
  display: none;
}


.button {

  &__draft {
    @media (max-width: 768px) {
      display: none;
    }
  }
}